.styles_container__10SV6{position:relative;box-sizing:border-box;display:flex;width:498px;padding:18px 30px 20px 23px;margin-right:30px;margin-bottom:10px;pointer-events:auto;background:#57575f;border-radius:4px;box-shadow:2px 4px 15px rgba(0,0,0,.2);transition:all .3s ease-in-out;animation:styles_fadein__1489s .15s}.styles_small__MzKzZ{width:420px}.styles_closing__3SiHd{margin-bottom:-30%}@keyframes styles_fadein__1489s{0%{transform:translateX(200%)}to{transform:translateX(0)}}.styles_img__1PWCY,.styles_img_link__3vVeS{margin-right:27px}.styles_img_link__3vVeS{width:100px;height:100px;object-fit:contain}.styles_description__3bOap{display:flex;flex-direction:column}.styles_title__2GdBy{margin-bottom:9px;font-size:16px;font-weight:500;line-height:120%;color:#fff}.styles_date__10Z2M,.styles_text__KRyKx{color:#c0c0c2}.styles_text__KRyKx{font-size:14px;line-height:110%}.styles_date__10Z2M,.styles_text__KRyKx{margin-bottom:8px}.styles_date__10Z2M{font-size:12px}.styles_buttons__e5ONR{margin-top:3px}.styles_close__2ZJUl{position:absolute;top:12px;right:12px;width:12px;height:12px;cursor:pointer;background-image:url(/web/20220614003329im_/https://cs.money/svg/cross.svg);background-repeat:no-repeat;background-position:50%;background-size:contain}.styles_container_exit__1Bbqp{transform:translateX(0)}.styles_container_exit_active__3fQ_x{transform:translateX(200%)}@media(max-width:1023px){.styles_container__10SV6{padding:0 30px 8px 23px}.styles_small__MzKzZ{align-items:center;width:calc(100vw - 16px);margin:0 8px 0 0}.styles_img__1PWCY{margin-right:20px}}
/*
     FILE ARCHIVED ON 00:33:29 Jun 14, 2022 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 22:04:00 Aug 19, 2022.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 210.573
  exclusion.robots: 0.099
  exclusion.robots.policy: 0.092
  cdx.remote: 0.074
  esindex: 0.01
  LoadShardBlock: 147.839 (3)
  PetaboxLoader3.datanode: 201.264 (5)
  CDXLines.iter: 19.667 (3)
  load_resource: 224.229 (2)
  PetaboxLoader3.resolve: 125.234 (2)
*/